In [2]:
age = [17, 19, 21, 37, 18, 19, 47, 18, 19]
score = [12, 10, 11, 15, 16, 14, 25, 21, 29]
rt = [3.552, 1.624, 6.431, 7.132, 2.925, 4.662, 3.634, 3.635, 5.234]
group = ["test", "test", "test", "test", "test", "control", "control", "control", "control"]

In [3]:
import pandas as pd

df = pd.DataFrame(
    {'age': age,
     'score': score,
     'rt': rt,
     'group': group
    })

df

   age  score     rt    group
0   17     12  3.552     test
1   19     10  1.624     test
2   21     11  6.431     test
3   37     15  7.132     test
4   18     16  2.925     test
5   19     14  4.662  control
6   47     25  3.634  control
7   18     21  3.635  control
8   19     29  5.234  control

In [4]:
#getting a column
score_data = df['score']
score_data

0    12
1    10
2    11
3    15
4    16
5    14
6    25
7    21
8    29
Name: score, dtype: int64

In [5]:
#getting columns 1-4
score_data = df['score'][0:4]
score_data

0    12
1    10
2    11
3    15
Name: score, dtype: int64

In [6]:
#getting a row
score_data = df.loc[2]
score_data

age         21
score       11
rt       6.431
group     test
Name: 2, dtype: object

In [7]:
type(score_data)

pandas.core.series.Series

In [8]:
#convert it to a list
my_row = list(score_data)
my_row

[np.int64(21), np.int64(11), np.float64(6.431), 'test']

In [9]:
my_row = list(df.loc[2])
my_column = list(df['score'])
print(my_row)
print(my_column)

[np.int64(21), np.int64(11), np.float64(6.431), 'test']
[12, 10, 11, 15, 16, 14, 25, 21, 29]

In [11]:
#getting the column names
list(df)

['age', 'score', 'rt', 'group']