# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first step—after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that year, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

In [3]:
# Starter code...

#%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_singles")

In [4]:
#Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
df1 = rawdata[0]
df2 = rawdata[3]
df3 = pd.concat([df1,df2])
df3

,Artist,Single,Released,Sales (in millions),Source
0,Bing Crosby,"""White Christmas""",1942,50,[1]
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997,33,[1]
2,Bing Crosby,"""Silent Night""",1935,30,[2]
3,Tino Rossi,"""Petit Papa Noël""",1946,30,[3]
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954,25,[4][5]
5,Whitney Houston,"""I Will Always Love You""",1992,24,[6]
6,Elvis Presley,"""It's Now or Never""",1960,20,[7][8]
7,USA for Africa,"""We Are the World""",1985,20,[9]
8,The Ink Spots,"""If I Didn't Care""",1939,19[disputed – discuss],[10]
9,Celine Dion,"""My Heart Will Go On""",1997,18,[11]
10,Mariah Carey,"""All I Want For Christmas Is You""",1994,16,[12]
11,Baccara,"""Yes Sir, I Can Boogie""",1977,16,[13]
12,Bryan Adams,"""(Everything I Do) I Do It for You""",1991,15,[14]
13,John Travolta and Olivia Newton-John,"""You're the One That I Want""",1978,15,[15]
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],[46][47]
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],[46][47]
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],[48]
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],[46][47]
4,Ed Sheeran,"""Perfect""",2017,21.4[a],[46][47]
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[49]
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],[50][46]
7,Adele,"""Rolling in the Deep""",2011,20.6,[51][52][53]
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[49]
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],[54]
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[49]
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],[46][47]
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],[54]
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,[55]
14,Taylor Swift,"""Love Story""",2008,18.0[a],[56]
15,Adele,"""Someone Like You""",2011,17.0,[57]
16,Rihanna,"""Needed Me""",2016,17.0[a],[48]
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],[54]
18,Imagine Dragons,"""Radioactive""",2012,16[a],[58]
19,Imagine Dragons,"""Believer""",2017,15.4[a],[59][60]
20,Drake,"""God's Plan""",2018,15.3[a],[47]

In [5]:
#Adds a column which marks whether each row is from the list of physical singles or digital singles
#En måde at gøre det på
df3['Format'] = pd.cut(x = df3['Released'], bins = [1900,2000,2024], labels = ['physical', 'digital'])
df3

,Artist,Single,Released,Sales (in millions),Source,Format
0,Bing Crosby,"""White Christmas""",1942,50,[1],physical
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997,33,[1],physical
2,Bing Crosby,"""Silent Night""",1935,30,[2],physical
3,Tino Rossi,"""Petit Papa Noël""",1946,30,[3],physical
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954,25,[4][5],physical
5,Whitney Houston,"""I Will Always Love You""",1992,24,[6],physical
6,Elvis Presley,"""It's Now or Never""",1960,20,[7][8],physical
7,USA for Africa,"""We Are the World""",1985,20,[9],physical
8,The Ink Spots,"""If I Didn't Care""",1939,19[disputed – discuss],[10],physical
9,Celine Dion,"""My Heart Will Go On""",1997,18,[11],physical
10,Mariah Carey,"""All I Want For Christmas Is You""",1994,16,[12],physical
11,Baccara,"""Yes Sir, I Can Boogie""",1977,16,[13],physical
12,Bryan Adams,"""(Everything I Do) I Do It for You""",1991,15,[14],physical
13,John Travolta and Olivia Newton-John,"""You're the One That I Want""",1978,15,[15],physical
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],[46][47],digital
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],[46][47],digital
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],[48],digital
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],[46][47],digital
4,Ed Sheeran,"""Perfect""",2017,21.4[a],[46][47],digital
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[49],digital
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],[50][46],digital
7,Adele,"""Rolling in the Deep""",2011,20.6,[51][52][53],digital
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[49],digital
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],[54],digital
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[49],digital
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],[46][47],digital
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],[54],digital
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,[55],digital
14,Taylor Swift,"""Love Story""",2008,18.0[a],[56],digital
15,Adele,"""Someone Like You""",2011,17.0,[57],digital
16,Rihanna,"""Needed Me""",2016,17.0[a],[48],digital
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],[54],digital
18,Imagine Dragons,"""Radioactive""",2012,16[a],[58],digital
19,Imagine Dragons,"""Believer""",2017,15.4[a],[59][60],digital
20,Drake,"""God's Plan""",2018,15.3[a],[47],digital

In [6]:
#Adds a column which marks whether each row is from the list of physical singles or digital singles
#en anden måde at gøre det på
Format = []

for idx, row in df3.iterrows():
    if row['Single'] in df1['Single'].values:
        Type = "physical"
    elif row['Single'] in df2['Single'].values:
        Type = "digital"
    Format.append(Type)

df3['Format'] = Format

df3

,Artist,Single,Released,Sales (in millions),Source,Format
0,Bing Crosby,"""White Christmas""",1942,50,[1],physical
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997,33,[1],physical
2,Bing Crosby,"""Silent Night""",1935,30,[2],physical
3,Tino Rossi,"""Petit Papa Noël""",1946,30,[3],physical
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954,25,[4][5],physical
5,Whitney Houston,"""I Will Always Love You""",1992,24,[6],physical
6,Elvis Presley,"""It's Now or Never""",1960,20,[7][8],physical
7,USA for Africa,"""We Are the World""",1985,20,[9],physical
8,The Ink Spots,"""If I Didn't Care""",1939,19[disputed – discuss],[10],physical
9,Celine Dion,"""My Heart Will Go On""",1997,18,[11],physical
10,Mariah Carey,"""All I Want For Christmas Is You""",1994,16,[12],physical
11,Baccara,"""Yes Sir, I Can Boogie""",1977,16,[13],physical
12,Bryan Adams,"""(Everything I Do) I Do It for You""",1991,15,[14],physical
13,John Travolta and Olivia Newton-John,"""You're the One That I Want""",1978,15,[15],physical
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],[46][47],digital
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],[46][47],digital
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],[48],digital
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],[46][47],digital
4,Ed Sheeran,"""Perfect""",2017,21.4[a],[46][47],digital
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[49],digital
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],[50][46],digital
7,Adele,"""Rolling in the Deep""",2011,20.6,[51][52][53],digital
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[49],digital
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],[54],digital
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[49],digital
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],[46][47],digital
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],[54],digital
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,[55],digital
14,Taylor Swift,"""Love Story""",2008,18.0[a],[56],digital
15,Adele,"""Someone Like You""",2011,17.0,[57],digital
16,Rihanna,"""Needed Me""",2016,17.0[a],[48],digital
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],[54],digital
18,Imagine Dragons,"""Radioactive""",2012,16[a],[58],digital
19,Imagine Dragons,"""Believer""",2017,15.4[a],[59][60],digital
20,Drake,"""God's Plan""",2018,15.3[a],[47],digital

In [7]:
# Sorting the dataframe by Released year
df3 = df3.sort_values(by=['Released'])
df3

,Artist,Single,Released,Sales (in millions),Source,Format
2,Bing Crosby,"""Silent Night""",1935,30,[2],physical
8,The Ink Spots,"""If I Didn't Care""",1939,19[disputed – discuss],[10],physical
0,Bing Crosby,"""White Christmas""",1942,50,[1],physical
3,Tino Rossi,"""Petit Papa Noël""",1946,30,[3],physical
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954,25,[4][5],physical
6,Elvis Presley,"""It's Now or Never""",1960,20,[7][8],physical
11,Baccara,"""Yes Sir, I Can Boogie""",1977,16,[13],physical
13,John Travolta and Olivia Newton-John,"""You're the One That I Want""",1978,15,[15],physical
7,USA for Africa,"""We Are the World""",1985,20,[9],physical
12,Bryan Adams,"""(Everything I Do) I Do It for You""",1991,15,[14],physical
5,Whitney Houston,"""I Will Always Love You""",1992,24,[6],physical
10,Mariah Carey,"""All I Want For Christmas Is You""",1994,16,[12],physical
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997,33,[1],physical
9,Celine Dion,"""My Heart Will Go On""",1997,18,[11],physical
14,Taylor Swift,"""Love Story""",2008,18.0[a],[56],digital
7,Adele,"""Rolling in the Deep""",2011,20.6,[51][52][53],digital
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,[55],digital
15,Adele,"""Someone Like You""",2011,17.0,[57],digital
18,Imagine Dragons,"""Radioactive""",2012,16[a],[58],digital
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[49],digital
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[49],digital
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[49],digital
16,Rihanna,"""Needed Me""",2016,17.0[a],[48],digital
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],[50][46],digital
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],[48],digital
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],[46][47],digital
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],[46][47],digital
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],[46][47],digital
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],[46][47],digital
4,Ed Sheeran,"""Perfect""",2017,21.4[a],[46][47],digital
19,Imagine Dragons,"""Believer""",2017,15.4[a],[59][60],digital
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],[54],digital
20,Drake,"""God's Plan""",2018,15.3[a],[47],digital
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],[54],digital
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],[54],digital

In [8]:
# Check if the year 2000 is present
if 2000 in df3['Released'].values:
    # If 2000 is found, filter by the exact year
    result = df3[df3['Released'] == 2000]
else:
    # If 2000 is not found, show the closest year after 2000
    result = df3[df3['Released'] > 2000].head(1)
# Print the artist and single for the matching year or closest year after
    print("The single released closest after the year I was born is", result['Artist'].values[0], ",", result['Single'].values[0], ",", result['Released'].values[0])

The single released closest after the year I was born is Taylor Swift , "Love Story" , 2008

In [9]:
#Outputs the artist and single name for the year you were 15 years old.

#something wrong with the else statement.. if the statement is there, it doesn't print anything

# Check if the year 2015 is present
if 2015 in df3['Released'].values:
    # If 2015 is found, filter by the exact year
    result15 = df3[df3['Released'] == 2015]
#else:
    # If 2015 is not found, find the closest year after 2015
   # result15 = df3[df3['Released'] > 2015].head(1)

# Print the artist and single for the matching year or closest year after
    print("The single released when I was 15 years old is", result15['Artist'].values[0], ",", result15['Single'].values[0], "in", result15['Released'].values[0])

The single released when I was 15 years old is Ed Sheeran , "Thinking Out Loud" in 2015

## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

In [10]:
# Starter code...

#%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/Timeline_of_Solar_System_exploration")

In [11]:
#Make a single dataframe that combines the space missions from the 1950's to the 2020's'
df4 = pd.concat(rawdata[:8])
df4

,Mission name,Launch date,Description,Ref(s)
0,Sputnik 1,4 October 1957,First Earth orbiter,[1][2]
1,Sputnik 2,3 November 1957,"Earth orbiter, first animal in orbit, a dog na...",[2][3][4]
2,Explorer 1,1 February 1958,Earth orbiter; discovered Van Allen radiation ...,[5]
3,Vanguard 1,17 March 1958,Earth orbiter; oldest spacecraft still in Eart...,[6]
4,Luna 1,2 January 1959,First lunar flyby (attempted lunar impact?); f...,[7][8][9][10]
...,...,...,...,...
18,Peregrine Mission One (including Iris and Colm...,8 January 2024,Lunar lander and rovers (landing precluded),[504]
19,IM-1 Nova-C Odysseus (including EagleCam deplo...,15 February 2024,Lunar landers,[505]
20,DRO A/B,13 March 2024,Lunar orbiters,[506]
21,Queqiao-2 (including Tiandu-1 and 2),20 March 2024,Lunar orbiters,[507]
22,Chang'e 6 (including Pakistan's ICUBE-Q cubesat),3 May 2024,"Lunar sample return, rover and orbiters; first...",[508][509]

In [12]:
#Write a script that returns the year with the most launches

# Extracting year from Launch date
df4['Year'] = pd.to_datetime(df4['Launch date']).dt.year
df4

# Count occurrences of each year
year_counts = df4['Year'].value_counts()

# Find the year with the most launches
most_launches_year = year_counts.idxmax()
most_launches_count = year_counts.max()

# Print the year with the most launches and the count
print(f"The year with the most launches is {most_launches_year} with {most_launches_count} launches.")

The year with the most launches is 1965 with 12 launches.

In [13]:
#Write a script that returns the most common month for launches

#extract months from launch date column
df4['Month'] = pd.to_datetime(df4['Launch date']).dt.month
df4

# Count occurrences of each month
month_counts = df4['Month'].value_counts()


# Find the month with the most launches
most_launches_month = month_counts.idxmax()
most_launches_counts = month_counts.max()

# Print the year with the most launches and the count
print(f"The month with the most launches is month no. {most_launches_month} with {most_launches_counts} launches.")

The month with the most launches is month no. 11 with 30 launches.

In [14]:
month_counts

Month
11    30
8     27
9     22
10    22
7     21
1     19
12    19
5     17
3     15
2     14
6     14
4     13
Name: count, dtype: int64

In [15]:
#Write a script that ranks the months from most launches to fewest launches

# Convert the month_counts to a DataFrame
month_counts_df = month_counts.reset_index()

# Rename the columns for clarity
month_counts_df.columns = ['Month', 'Launch Count']

# Merge with the original DataFrame based on the 'Month' column
df4 = df4.merge(month_counts_df, on='Month', how='left')
df4 = df4.sort_values(by=["Launch Count"])
df4

,Mission name,Launch date,Description,Ref(s),Year,Month,Launch Count
14,Ranger 4,23 April 1962,Lunar impact (but unintentionally became the f...,[24][29][30][31],1962,4,13
10,Vostok 1,12 April 1961,First crewed Earth orbiter (Yuri Gagarin),[20][21],1961,4,13
21,Zond 1,2 April 1964,Venus flyby (contact lost),[44][45][46],1964,4,13
18,Luna 4,2 April 1963,Attempted lunar lander (missed Moon),[39][40],1963,4,13
51,Surveyor 3,17 April 1967,Lunar lander,[97][98],1967,4,13
...,...,...,...,...,...,...,...
194,Mars Orbiter Mission (Mangalyaan),5 November 2013,Mars orbiter,[443][444][445],2013,11,30
216,DART / LICIACube,24 November 2021,"Asteroid 65803 Didymos flyby, asteroid moon Di...",[485][486],2021,11,30
214,Chang'e 5,23 November 2020,Lunar sample return,[405][482],2020,11,30
195,MAVEN,18 November 2013,Mars orbiter,[446][447],2013,11,30
220,Artemis 1 and 10 cubesats,16 November 2022,Uncrewed lunar orbital test of Orion spacecraf...,[491],2022,11,30

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

In [16]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_comic_book_supervillain_debuts")

In [17]:
#Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
df5 = pd.concat(rawdata[3:11])
df5

,Character / Team,Year Debuted,Company,Creator/s,First Appearance
0,Ultra-Humanite,1939 (June),DC,"Jerry Siegel, Joe Shuster",Action Comics (vol. 1) #13
1,Dr. Death,1939 (July),DC,"Bob Kane, Bill Finger",Detective Comics (vol. 1) #29
2,The Monk,1939 (September),DC,"Bob Kane, Bill Finger",Detective Comics (vol. 1) #31
3,The Claw,1939 (December),Lev Gleason Publications,Jack Cole,Silver Streak Comics #1
0,Hath-Set,1940 (January),DC,"Gardner Fox, Dennis Neville",Flash Comics #1
...,...,...,...,...,...
44,Facade,2006,DC,Paul Dini,Detective Comics #821
45,Atrocitus,2007 (December),DC,Geoff Johns,Green Lantern vol. 4 #25
46,Larfleeze,2007 (December),DC,"Geoff Johns, Ethan Van Sciver",Green Lantern vol. 4 #25
47,Menace,2008,Marvel,"Marc Guggenheim, Salvador Larroca",The Amazing Spider-Man #549
48,Beth Kane,2009 (August),DC,"Greg Rucka, J.H. Williams III",Detective Comics #854

In [19]:
#Write a script that ranks each decade in terms of how many supervillains debuted in that decade

#Extract the year from 'Year Debuted' column (ignoring parentheses content)
df5['Year'] = df5['Year Debuted'].str.extract(r'(\d{4})').astype(int)

#Convert the year to the corresponding decade
df5['Decade'] = (df5['Year'] // 10) * 10

#Group by the 'Decade' and count the number of rows (debuts) per decade
debuts_per_decade = df5.groupby('Decade').size().reset_index(name='Count')

#Sort by the count in descending order (most debuts at the top)
debuts_per_decade = debuts_per_decade.sort_values(by='Count', ascending=False).reset_index(drop=True)

debuts_per_decade

   Decade  Count
0    1960    228
1    1970     97
2    1980     92
3    1990     84
4    2000     49
5    1940     47
6    1950     26
7    1930      4

In [20]:
#### Write a script that ranks the different comics companies in terms of how many supervillains they have, 
#and display the results in a nice table (pandas dataframe)

set(df5['Company'].values)

{'Comico',
 'DC',
 'Dark Horse',
 'Eternity',
 'Fawcett Comics/DC',
 'Image',
 'Image Comics',
 'Lev Gleason Publications',
 'Marvel',
 'Marvel/Timely',
 'Mirage',
 nan}

In [24]:
#Group by the 'company' and count the number of rows (debuts) per company
debuts_per_company = df5.groupby('Company').size().reset_index(name='Count')

#Sort by the count in descending order (most debuts at the top)
debuts_per_company = debuts_per_company.sort_values(by='Count', ascending=False).reset_index(drop=True)

debuts_per_company

                     Company  Count
0                         DC    334
1                     Marvel    263
2          Fawcett Comics/DC      6
3                      Image      5
4                 Dark Horse      5
5              Marvel/Timely      4
6                   Eternity      3
7                     Comico      1
8               Image Comics      1
9   Lev Gleason Publications      1
10                    Mirage      1

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Year" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [25]:
# Starter code 1...

df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")
df.head()

   Reading_NoInt  Naming_Int  Naming_NoInt  Reading_Int  Year
0           4.16        6.76          4.45         4.65  2015
1           4.35        7.73          4.78         4.46  2015
2           3.60        7.00          4.00         3.50  2015
3           3.90        9.03          4.60         6.30  2015
4           4.22        9.98          6.83         6.24  2015

In [ ]:
# Starter code 2...

# Make a new column using the dataframe indices as particpant numbers

df.index.name = 'Participant_id'
df = df.reset_index()

#df.reset_index(inplace = True)
# NOTE: This line does exactly the same thing as the line above:
# it replaces the original df with a new df with the updated index. That's what
# "inplace = True" means. Or, you can just assign the dataframe with the updated index
# to a new dataframe with the same name as the old dataframe, which is what I did above.
# The end result is the same.

df

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.