# Variables and variable types

## "Regular" variables

1. strings
1. integers
1. floats

## "Collection" variables

1. tuples
1. lists
1. sets
1. dictionaries

From https://www.w3schools.com:

- **Strings** are for storing text
- **Integers** are for storing whole numbers, positive or negative (such as 123 or -456), without decimals.
- **Floats** are for storing positive and negative numbers with a decimal point, like 35.3, or -2.34
- **Lists** are collections which are ordered and changeable. Allows duplicate members.
- **Tuples** are collections which are ordered and unchangeable. Allows duplicate members.
- **Sets** are collections which are unordered, "unchangeable", and unindexed. No duplicate members.
- **Dictionaries** are collections which are ordered and changeable. No duplicate members.

## Strings

In [1]:
hello = "hello world"
number_five = "5"

In [17]:
#dir(hello)

In [13]:
hello.isupper()
hello.title()
hello.split()

['hello', 'world']

## Integers

In [14]:
myint = 78
myotherint = -23

In [16]:
#dir(myint)

## Floats

In [4]:
myfloat = 3.89
myothercoolfloat = -2987568.78888

In [ ]:
#dir(myfloat)

## Lists

In [52]:
fruits = ["oranges", "bananas", "melon", "apples", "pears", 4]
dairy = ["milk", "ymer", "cream"]

In [24]:
shopping = [fruits, dairy]
shopping

[['oranges', 'bananas', 'melon', 'apples', 'pears', 4],
 ['milk', 'ymer', 'cream']]

In [53]:
fruits[1] #zero indexed when counting forwards

'bananas'

In [54]:
fruits[-1] #not zero-indexed when counting backwards

4

In [55]:
shopping[0] #it is the fruits list

['oranges', 'monkey', 'melon', 'apples', 'pears', 4, 'grapes']

In [34]:
shopping [0] [0] # the first fruit in the fruit list

'oranges'

In [56]:
fruits[1] = "monkey" #i can change the list
fruits

['oranges', 'monkey', 'melon', 'apples', 'pears', 4]

## Tuples

In [46]:
fruittuple = ("apple", "cherry", "kiwi") #not changable

## Sets

In [39]:
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [62]:
fruits.append("grapes") #run it 3 times = 3 grapes addd

In [64]:
fruits

['oranges',
 'monkey',
 'melon',
 'apples',
 'pears',
 4,
 'grapes',
 'grapes',
 'grapes']

In [65]:
#set of unique items in list + there are no positions in the set
set(fruits)

{4, 'apples', 'grapes', 'melon', 'monkey', 'oranges', 'pears'}

In [66]:
len(set(fruits))

7

## Dictionaries

In [68]:
kristiane = {"name": "Kristiane",
             "age": 23,
             "hair": "long",
             "likes": "cake",
             "dislikes": "Koldsk√•l"}

In [69]:
kristiane["name"]

'Kristiane'

In [72]:
print("kristiane likes", kristiane["likes"])

kristiane likes cake

## Rest of the class
### LOOPS

In [73]:
for x in range(5):
    print(x)

0
1
2
3
4

In [82]:
for fruit in fruits:
    print("i love" + fruit)

i loveoranges
i lovebananas
i lovekiwis
i loveapples
i lovepears
i lovegrapes
i lovegrapes
i lovegrapes

In [81]:
fruits[2] = "kiwis"

In [100]:
for x in fruits:
    print("i love " + x) #Doesn't need to be called fruits, here it is x

i love oranges
i love bananas
i love kiwis
i love apples
i love pears
i love grapes
i love grapes
i love grapes

### If-statement in loop

In [99]:
#filter for the fruits that starts with a p
for fruit in fruits:
    if fruit.startswith("p"):
        print("i love " + fruit)

i love pears

In [98]:
#filter for the fruits with a p in them
for fruit in fruits:
    if "p" in fruit:
        print("i love " + fruit)

i love apples
i love pears
i love grapes
i love grapes
i love grapes

In [97]:
#if statements inside if statemets!
for fruit in fruits:
    if "p" in fruit:
        if fruit.startswith("a"):
            print("i love " + fruit)

i love apples

In [102]:
#append list with the fruits that have special qualities
myFavfruits = []
for x in fruits:
    if "p" in x:
        if "g" in x:
            myFavfruits.append(x)

In [103]:
myFavfruits

['grapes', 'grapes', 'grapes']